<?xml version="1.0"?>

<config>
    <modules>
        <Rubik_Lightspeed>
            <version>0.1.0</version>
        </Rubik_Lightspeed>
    </modules>
    <global>
        <blocks>
            <lightspeed>
                <class>Rubik_Lightspeed_Block</class>
            </lightspeed>
        </blocks>
        <helpers>
            <lightspeed>
                <class>Rubik_Lightspeed_Helper</class>
            </lightspeed>
        </helpers>
    </global>
    <admin>
        <routers>
            <lightspeed>
                <use>admin</use>
                <args>
                    <module>Rubik_Lightspeed</module>
                    <frontName>lightspeed</frontName>
                </args>
            </lightspeed>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <lightspeed>
                    <file>rubik/lightspeed.xml</file>
                </lightspeed>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <lightspeed>
            <general>
                <api_url><![CDATA[https://api.merchantos.com/API/]]></api_url>
                <api_key>3fee8e5840a7f996fc60a29c7f22ae202abc27da6e55f7ddad04641a00b5e7c6</api_key>
                <account_id>100482</account_id>
            </general>
        </lightspeed>
    </default>
</config>
